@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
/* font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal; */
body {
    margin: 0px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;

}

.sidebar a {
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar .list:hover {
    color: #642500;
}

.closebtn:hover {
    color: #642500;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;

}

.sidenav a {
    font-size: 18px;
}

/* Thanksgiving */

.headertext {
    color: #ffffff;
    -webkit-text-stroke: 4px black;
    font-family: "Inknut Antiqua", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 100px;
    text-align: center;
}

.cover1 {
    background-image: url(img/DishesHomeScreen.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    height: 77vh;
    width: 100%;
    stroke: 2;
}

/* 3 column */
.section-Italian, .section-Mexico, .section-Japanese {
    display: flex;
    height: 45em;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h3-Italian,.h3-Japanese,.h3-Mexico {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}

img{
    padding: 1em;
    width: 1000px;
}

/* Footer */
footer {
    background-color: #D7D9D7;
    padding: 1em;
    color: #050505;
    text-decoration: none;
    margin-top: 1em;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;

}

footer>section {
    justify-content: space-evenly;
    align-items: center;
}

footer>h3 {
    align-self: flex-start;
}

#sites {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;
    padding: 0;

}

#sites a {
    text-decoration: none;
    color: #262524;
    display: block;
    padding: 0.1rem;
    margin: 0 0.2em;
    border-radius: 0.3em;
}

#sites :hover {
    color: #642500;;
    transition: all ease 100ms;
}

#site {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

#site a {
    text-decoration: none;
    color: #262524;
    display: block;
    padding: 0.1rem;
    margin: 0 0.2em;
    border-radius: 0.3em;
}

#site :hover {
    color: #642500;;
    transition: all ease 100ms;
}

#logo {
    width: 13em;
}
.bluebox {
    border: solid #642500;
    background-color: #642500;
    width: fit-content;
    height: fit-content;

}

.bluebutton {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

h3 {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

footer {
    background-color: #D7D9D7;
    padding: 1em;
    color: #050505;
    text-decoration: none;
    margin-top: 1em;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

.footers {
    display: block;
    unicode-bidi: isolate;
}